
.card {
  min-width: 160px;
  background-color: var(--bg-card);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.card,
.card * {
  cursor: pointer;
}


.card:hover {
  background-color: var(--bg-card-hover);
  transform: translateY(-2px);
}

.card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 12px;
  background-color: #333;
}

.card strong {
  display: block;
  font-size: 0.95rem;
  margin-bottom: 4px;
  font-family: var(--font-main);
}

.card span {
  font-size: 0.8rem;
  color: var(--text-muted);
  font-family: var(--font-main);
}

.card-info {
  transition: transform 0.3s ease 0.5s;
}

.card:hover .card-info {
  transform: translateY(-6px);
}


.card.new {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-main);
}

.card.new:hover {
  color: var(--text-main);
}
.card {
  position: relative;
}

.card .open-button {
  pointer-events: none;
  position: absolute;
  bottom: 69px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--red-core);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.2s ease;
}

.card:hover .open-button {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}

.card .open-button:hover {
  filter: brightness(1.6);
  transform: translateY(0) scale(1.1); /* pop suave */
  cursor: pointer;
}