.login-page {
  margin: 0;
  padding: 0;
  background: url("../assets/teste1.png")
  no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-card {
  width: 320px;
  background-color: rgba(0,0,0,0.75); 
  padding: 40px;
  border-radius: 6px;
}

.login-card h1 {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.login-card h5 {
  color: #fff;
  margin-bottom: 25px;
  font-size: smaller;
}

.login-card label {
  display: block;
  color: #b3b3b3;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.login-card input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 15px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
}

.login-card input::placeholder {
  color: #8c8c8c;
}

.login-card button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.login-card button:hover {
  background-color: #f6121d;
}

@media (max-width: 480px) {
  .login-card{
    width: 90%;
    margin: 60px auto;
    padding: 30px;
  }
  
}