.login-page {
  margin: 0;
  padding: 0;
  width: 100vw;       /* largura total da tela */
  height: 100vh;
  background: url("../assets/teste1.png")
  no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.top-left-icon {
 display: flex;
 align-self: start; 
 align-content: flex-start;
 position: absolute;
 left: 22px;
 top: 22px;
}

.login-card {
  width: 320px;
  background-color: rgba(0,0,0,0.75); 
  padding: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;   
}

.login-card h1 {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.login-card h5 {
  color: #fff;
  margin-bottom: 25px;
  font-size: smaller;
  margin-top: 1px;
}

.login-card label {
  display: block;
  color: #b3b3b3;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.login-card .icons {
  display: flex;            /* ativa flexbox */
  align-items: center;      /* alinha verticalmente ao centro */
  gap: 5px;                 /* espaço entre ícone e texto */
  margin-top: 12px;         /* separação do botão acima */
}

.login-card .icons h5 {
  margin: 0;                /* remove margem padrão do h5 */
  font-size: 1.1rem;        /* ajusta para caber melhor com ícone */
  line-height: 1;           /* evita desalinhamento vertical */
}

.login-card input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 12px;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;

}

.login-card input::placeholder {
  color: #8c8c8c;
}

.login-card button {
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  box-sizing: border-box;
}

.login-card button:hover {
  background-color: #f6121d;
}

@media (max-width: 480px) {
  .login-card{
    width: 90%;
    margin: 60px auto;
    padding: 30px;
  }
  
}