html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;              /* ocupa todo espaço acima do footer */
  display: flex;       /* permite centralizar páginas como login */
  flex-direction: column;
}

.icons{
  display: flex;
  color: #fff;
  font-size: 1.3rem;
}

h1 {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.footer-arco {
    position: relative;
    box-shadow: 0 -10px 30px rgba(229, 9, 20, 0.4);
    background: black;
}

/* ARCO PRETO + BORDA */
.footer-arco::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 80px;

  background:
    /* reforço central */
    radial-gradient(
      ellipse at top center,
      rgba(210,16,16,1) 0%,
      rgba(210,16,16,0.8) 0%,
      rgba(210,16,16,0) 6%
    ),

    /* linha contínua até as pontas */
    linear-gradient(
      to bottom,
      rgba(210,16,16,0.9) 6%,
      rgba(210,16,16,0.7) 4%,
      rgba(210,16,16,0) 15%
    ),

    black;

  border-radius: 60% 60% 0% 0%;
  z-index: 1;
}

/* GLOW */
.footer-arco::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 80px;

  background:
    radial-gradient(
      ellipse at top center,
      rgba(255,80,80,0.5) 0%,
      rgba(255,80,80,0.3) 50%,
      rgba(255,80,80,0.15) 16%,
      rgba(255,80,80,0) 20%
    );

  border-radius: 80% 80% 0 0;
  filter: blur(10px);
  z-index: 0;
}


.footer-content{
    position: relative;
    z-index: 2;
}

.footer-arco p {
  color: #fff;
  margin-bottom: 15px;
  font-size: smaller;
}